h1 {
    text-align: center;
    color: green;
    font-style: italic;
    background-color: aquamarine;
    font-size: 40px;
}

.catbtn {
    background-color: #009933;
    color: white;
    padding: 11px;
    font-size:11px;
    border: none;
  }

  .catbtn-2 {
    background-color: #009933;
    width: 200px;
    height: 50px;
    color: white;
    padding: 11px;
    font-size:20px;
    border: none;
  }

  .catbtn-2:hover{
    background-color: #4CAF50;
    color: white;
  }
  
  .Category {
    position: fixed;
    display: inline-block;
  }
  
  .Category-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .Category-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: flex;
  }
  
  .Category-content a:hover {background-color: #ddd;}
  
  .Category:hover .Category-content {display: block;}
  
  .Category:hover .catbtn {background-color: #3e8e41;}