h1 {
    text-align: center;
    color: green;
    font-style: italic;
    background-color: aquamarine;
    font-size: 70px;
}

  .catbtn-2 {
    background-color: #009933;
    width: 200px;
    height: 50px;
    color: white;
    padding: 11px;
    font-size:20px;
    border: none;
    border-radius: 20px;
  }

  .catbtn-2:hover{
    background-color: #4CAF50;
    color: white;
  }


  /*for body text creates the font style and gradient animation background*/
  body {
    font-family: serif;
	background: linear-gradient(-45deg, #5a3f37, #5a3f37, #2c7744, #2c7744);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
  }
   /*positioning transisitions of colors*/
  @keyframes gradient {
 	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
   } 

  .Category-content a:hover {background-color: #ddd;}
  
  .Category:hover .Category-content {display: block;}
  
  .Category:hover .catbtn {background-color: #3e8e41;}
/*for Welcome statment*/
body h2{
  font-family: serif;
  font-weight: bold;
  color: white;
  margin: auto;
  width: 40%;
  padding: 10px;
}
