<!DOCTYPE html>
<html>

<link href="StyleSheet.css" rel="stylesheet">

<head>
  <link rel="icon" href="imgs/Logo_2.png">
  <title>RIC-Bot - Welcome Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--background image-->
<style>
    h1 {
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
	      text-align: center;
          font-size:5vw;
        }
</style>
</head>

<body>


    <div id="header"></div>
    <div id="banner"></div>
    
    <div style = "position:fixed; left:575px; ">
        <h1> RIC-Bot</h1>
    </div>
 

    <div style = "position:fixed; left:570px; top:175px; ">
        <img src="imgs/Logo_2.png"  style ="width:390px;height:390px;"> 
    </div>

    <div style = "position:fixed; left:670px; top:575px; ">
        <a href="ric-bot.html">
        <button class="catbtn-2">Launch RIC-Bot</button>
        </a>
    </div>
	
	
</body>
</html>
