<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet.css') }}"/>

<head>
  <link rel="icon" href="{{ url_for('static', filename='Logo_2.png') }}"/>
  <title>RIC-Bot - Welcome Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    h1 {
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
	      text-align: center;
          font-size:5vw;
        }
</style>
</head>

<body>
<center> 

    <div id="header"></div>
    <div style="width:50%">
        <h1> RIC-Bot</h1>
    </div>
 

    <div>
        <a href = "{{ url_for('static', filename='Logo_2.png') }}">
        <img src="static/Logo_2.png"  width="300" height="300"/> 
        </a>
    </div>
    <h2>
        Welcome to RIC-BOT!<br> It stands for Recommendation Interactive Chatbox. His goal is to help you find your next favorite dish by asking you a series of questions 
        to better understand your wants and needs. Whether your a picky eater, too busy to hunt for recipes, or looking to try something new RIC-BOT is here to help!
    </h2>
    <div>
        <a href="/chat">
        <button class="catbtn-2">Launch RIC-Bot</button>
        </a>
    </div>
	
</center>	
</body>
</html>