<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet.css') }}"/>

<head>
  <link rel="icon" href="{{ url_for('static', filename='Logo_2.png') }}">
  <title>RIC-Bot - Welcome Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--background image-->
<style>
    h1 {
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
	      text-align: center;
          font-size:5vw;
        }
</style>
</head>

<body>
<center>

	<div id="header"></div>
       
        <div>
        <h1> RIC-Bot</h1>
	</div>
 

        <div>
        <a href = "{{ url_for('static', filename='Logo_2.png') }}"> 
		<img src = "static/Logo_2.png" width="300" height="400"/>
        </a> 
        </div>
	<div>
        <a href="/chat">
        <button class="catbtn-2">Launch RIC-Bot</button>
        </a>
	</div>
    
</center>	
</body>
</html>
